body {
    background-color: #96C5FF;
    transition: background-color 1s ease;
}

#app {
    width: 50%;
    margin: 5em auto;
    text-align:center;
    color: #fff;
}

#timer-container {
    font-size: 3em;
    font-family: droid sans mono;
}

#button-container {
    margin-bottom: 5em;
}

#lap-container {
    font-size: 1.5em;
    font-family: droid sans mono;
}

.btn {
    height: 100px;
    width: 100px;
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: 2px #fff solid;
    border-radius: 200px;
    margin: 0 3.3em;
    transition: 0.3s ease;
    outline: none;
}

.hide-btn {
    display: none;
}

#lap:hover {
    background-color: #B472E5;
}

#start:hover {
    background-color: #2BB67A;
}

#stop:hover {
    background-color: #ED436B;
}

#reset:hover {
    background-color: #529CF8;
}

#theme-container {
    width: 20em;
    height: 5em;
    margin: 0 auto;
}

#sun, #moon {
    width: 14%;
    display: inline-block;
    margin: 0 10%;
}

.night {
    background-color: #292F45;
}
