body {
    background-color: #96C5FF;
    transition: background-color 1s ease;
}

.stars {
    background: url(img/constellation.svg);
    animation: move-stars 80s linear infinite;
    background-size: 15%;
}

#star-overlay {
    transition: 3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #292F45;
    opacity: 0;
}

@keyframes move-stars {
    0% {background-position: 0% 0%}
    100% {background-position: 100% 98%}
}

#app {
    width: 100%;
    margin: 5em auto;
    text-align:center;
    color: #fff;
}

#timer-container {
    font-size: 3em;
    font-family: droid sans mono, Helvetica;
}


#lap-container {
    font-size: 1.5em;
    font-family: droid sans mono, Helvetica;
    margin: 1.5em 0;
    min-height: 1px;
}

.btn {
    height: 100px;
    width: 100px;
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: 2px #fff solid;
    border-radius: 200px;
    margin: 0 4%;
    transition: 0.3s ease;
    outline: none;
}


.hide-btn {
    display: none;
}

#lap:hover {
    background-color: #B472E5;
}

#start:hover {
    background-color: #2BB67A;
}

#stop:hover {
    background-color: #ED436B;
}

#reset:hover {
    background-color: #529CF8;
}

#theme-container {
    width: 20em;
    height: 5em;
    margin: 0 auto;
}

#sun, #moon {
    width: 14%;
    display: inline-block;
    margin: 0 10%;
}

.night {
    background-color: #292F45;
}
